$fondo: #eee;
$fondo-tarjeta: #fff;
$texto-descripcion: #000;
$cabecera-fondo: #031927;
$cabecera-texto: #fff;
$burbuja-nota: #43AA8B;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $fondo;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


// CABECERA
header {
    background-color: $cabecera-fondo;
    box-shadow: 0 2px 4px rgba(17, 152, 255, 0.4);
    color: $cabecera-texto;
  
    .cabecera {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .logo {
            margin: 15px;
            font-size: 3em;
        }

        h1 {
            font-size: 3em;
        }
    }

    .eslogan {
        text-align: center;
        font-size: 1.4em;
        padding-bottom: 20px;
        color: rgba($cabecera-texto, 0.6);
    }
}

// TARJETAS
.tarjetas {
    margin: 20px auto;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


    
    .tarjeta {
        margin: 15px;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $fondo-tarjeta;
        border-radius: 15px;
        overflow: hidden;
        text-decoration: none;
        color: $texto-descripcion;       
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

        .contenedor-img {
            height: 375px;
            max-width: 250px;
            overflow: hidden;
            
            img {
                border-radius: 15px 0 0 15px;
                height: 100%;
                width: 100%;
            }
        }

        .info {
            max-width: 300px;
            padding: 0 5px 0 25px;
            position: relative;
            display: flex;
            max-height: 375px;
            flex-direction: column;

            .puntuacion {         
                background-color: #fff;
                position: absolute;
                top: 125px;
                left: -35px;
                font-weight: bold;
                border-radius: 100px;
                width: 60px;
                height: 60px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                .nota {
                    background-color: $burbuja-nota;
                    color: #fff;
                    border-radius: 100px;
                    width: 52px;
                    height: 52px;
                    text-align: center;
                    line-height: 52px;
                    font-size: 1.3em;
                }                
            }

            .titulo {
                font-weight: 700;
                font-size: 1.3em;
                padding-bottom: 13px;
                margin-top: 25px;
                margin-bottom: 15px;
                border-bottom: 1px solid #000;
            }

            .descripcion {
                overflow-y: auto;
                scrollbar-width: none;
                text-align: justify; 
                padding-right: 20px;
                line-height: 1.3em;
                margin-bottom: 10px;
            }

            ::-webkit-scrollbar {
                display: none;
            }

        }

        &:hover {
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);

            .contenedor-img {
                overflow: hidden;
                
                img {
                    transition:all .5s ease;
                    transform:scale(1.05);
                }
            }
        }
    }
}


// FOOTER

footer {
    background-color: #000;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 50px;

    .flex-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 60px;

        .nombre {

            h3 {
                font-size: 16px;
                margin: 0;
                padding: 0 20px;
                line-height: 40px;                
            }
        }

        .redes {

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
    
                li {
                    float: left;
    
                    a {
                        list-style: none;
                        text-decoration: none;
                        color: #ccc;
                        display: block;
                        padding: 0 20px;
                        line-height: 40px;
    
                        &:hover {
                            color: #eee;                        
                        }
                    }      
                }
            }
        }
    }
}


// QUERYS
@media screen and (max-width: 609px) {

    .tarjetas {

        .tarjeta {
            margin: 30px;
            padding: 15px;

            .contenedor-img {
                overflow: hidden;
                border-radius: 15px;
            }
    
            .info {
                max-width: 400px;
                padding: 0 5px 0 25px;
                position: relative;
                max-height: none;

                .puntuacion {         
                    top: -30px;
                    left: 184.5px;  
                }
    
                .descripcion {
                    overflow-y: none;
                    scrollbar-width: none;
                    max-height: 100%;
                }
    
            }
        }
    }
}

@media screen and (max-width: 440px) {

    .tarjetas {

        .tarjeta {
            margin: 30px 5px;
            padding: 10px;
    
            .info {
                padding: 0 5px;

                .descripcion {
                    padding-right: 0;
                }
    
            }
        }
    }
}